# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b>Objectives:</b>

- Listing popular Data Science Languages
- Listing popular Data Science Libraries
- Listing popular Data Science Tools

## Popular Lanuages for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Scala

## Commonly Used Libraries for Data Science

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Scikit-learn
3. Pandas
4. Matplotlib
5. Seaborn

## Data Science Tools

|Data Science Tools|
|------------------|
|Apache Spark|
|Jupyter Notebooks|
|Pytorch|

### Below are a few examples of evaluating arithmetic expressions in Python.

2+2=4\
6-4=2\
4*5=20\
10/2=5\
10%2=0

In [16]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author

Praditya Mishra